div.card, li.list-group-item {border: none;}
#logo img.card-img-top {width: 60%;}
body {
	color: #444 !important; 
	font-family: 'Lato', sans-serif !important; 
	font-size: 18px !important;
}
h1,h2,h3,h4,h5,h6 {text-align: center; margin: 1em !important;}